body {
	margin: 0;
	font-family: "Georgia";
	line-height: 1.4;
}

h1,
h2,
h3,
p,
ul,
pre,
hr {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.wrapper {
	max-width: 65em;
	margin-left: auto;
	margin-right: auto;
}

.visually-hidden {
	position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

header[role="banner"] {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25em;
	background: #34559C;
	background: linear-gradient(-181deg, #34559C 0%, #3887DF 100%);
	overflow: hidden;
	text-align: center;

	object {
		position: absolute;
		left: 0;
		top: 0;
		mix-blend-mode: luminosity;
		width: 100%;
		height: 100%;
		pointer-events: none;
		opacity: 0.8;
		transform: rotate(-90deg);
	}

	@media (min-height: 43em) {
		height: 700px;
		height: 100vh;
	}
}

.page-title {
	position: relative;
	z-index: 1;
	font-size: 1.5rem;
	width: 7em;
	height: 7em;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	padding-top: 0.85em;
	box-shadow: -5px 7px 0px 0px rgba(0,0,0,0.12);
	box-sizing: border-box;
	margin-top: 0;

	span {
		display: block;
		mix-blend-mode: luminosity;
		line-height: 1.1;
	}

	span:first-child {
		font-size: 1.8em;
		color: #555555;
		margin-left: -0.5em;
	}

	span:last-child {
		font-size: 0.8em;
		font-weight: lighter;
		color: #7d7d7d;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		z-index: 1;
		opacity: 0.1;
		background: #fff;
	}

	&:before {
		width: 5.3125em;
		height: 5.3125em;
		border-radius: 50%;
		left: -30%;
		top: 60%;
	}

	&:after {
		width: 6.9375em;
		height: 6.9375em;
		border-radius: 50%;
		left: 50%;
		top: -20%;
	}
}

.list__item {
	font-size: 1.2em;
	font-family: 'monospace';

	&:not(:last-child) {
		margin-bottom: 1em;
	}
}

hr {
	max-width: 14em;
	margin: 1em auto;
	height: 4px;
	background: #3887df;
	border: 0;
}

section {
	padding: 1em;

	h2 {
		font-size: 2rem;
		margin-bottom: 1rem; 
	}
}

.intro {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.steps {
	counter-reset: steps;
	font-size: 1em;
}

.steps__item {
	position: relative;
	padding-left: 3.625em;

	&:not(:last-child) {
		margin-bottom: 2.5em;
	}

	&:before {
		counter-increment: steps;
		content: counter(steps);
		position: absolute;
		left: 0;
		top: 0;
		width: 2.375em;
		height: 2.375em;
		background: #3887df;
		border-radius: 50%;
		color: #fff; 
		text-align: center;
		line-height: 2.375em;
		font-size: 1rem;
	}
	
	h3 {
		font-size: 1.5em;
	}

	p {
		font-size: 1em;
		max-width: 30em;
		margin-bottom: 0.5em;
	}

	pre {
		background: #eeeeee;
		font-size: 1em;
		border-radius: 5px;
		white-space: pre-line;
		padding: 10px;
		overflow: hidden;
	}
}

.services {
	counter-reset: services;
}

.services__item {
	&:before {
		counter-increment: services;
		content: counter(services) ".";
		margin-right: 0.5em;
		display: inline-block;
		vertical-align: 0.187em;
	}

	ul {
		counter-reset: sub-services;
		margin-left: 1em;
	}

	li {
		&:before {
			counter-increment: sub-services;
			content: counter(services) "." counter(sub-services);
			margin-right: 0.5em;
		}
	}
}

footer {
	background: #eeeeee;
	padding: 1em;
	text-align: center;
	font-size: 1.25em;
	margin-top: 1em;
}

@media (min-width: 60em) {
	header[role="banner"] {
		object {
			transform: none;
		}
	}
	.page-title {
		font-size: 3rem;
		z-index: initial;
	}

	.list__item {
		display: inline-block;
		font-size: 2em;	

		&:not(:last-child) {
			margin-right: 0.75em;

			&:after {
				content: "";
				display: inline-block;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: #3887df;
				margin-left: 0.75em;
			}
		}
	}

	.intro {
		font-size: 1.5rem;
	}

	p {
		font-size: 1.5rem;
	}

	.steps__item {
		position: relative;
		padding-left: 7.625em;

		&:not(:last-child) {
			margin-bottom: 2.5em;
		}

		&:before {
			width: 3em;
			height: 3em;
			line-height: 2.75em;
			font-size: 2rem;
		}
		
		h3 {
			font-size: 2em;
		}

		p {
			font-size: 1.5em;
		}

		pre {
			font-size: 1.5em;
		}
	}

	.services {
		font-size: 1.35em;
	}

	footer {
		font-size: 1.5em;
	}
}